
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20%;


}

input:valid{
  border: 2px solid green;
}

input:invalid{
  border: 2px solid red;
}