.article{
	margin-top: 10%;
    display: flex;
    justify-content: center;
}

nav{
    padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
}
.deleteButton{
	margin-left: 35%;
	display: inline-block;
	justify-content: right;
}

footer{
	width: 100%;
      bottom: 0;
      padding: 2% 0 2% 0;
      position: fixed;
      flex-direction: row;
      justify-content: space-between;
      font-size: 20px;
      color: white;
}
.link{
	float:right;
	margin-right:70px;
}
.deleteButton{
	float:left;
  margin-left: 70px;
}

@media all and (min-width: 300px) and (max-width: 1280px){
	footer{
		width: 100%;
		  bottom: 0;
		  padding: 2% 0 2% 0;
		  position: fixed;
		  flex-direction: row;
		  justify-content: space-between;
		  font-size: 20px;
		  color: white;
	}
	.link{
		float:right;
		margin-right:5px;
	}
	.deleteButton{
		float:left;
	  margin-left: 5px;
	}
}